.nav-item {
	font-size: 25px;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    background: white;
}

.nav-top {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
}

.carousel-top {
    position: relative;
    top: 0px;
}

.wellShadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wellShadow:hover {
	background-color: #525F7E;
}

h1, h2 {
	text-align: center;
}

.wellShadow {
	background-color: #6479A5;
	border-radius: 15px;
	padding: 25px;
}

.prgList{
    list-style-type:none;
    padding:0;
    margin:0;
}

.prgList li {
    padding:8px 16px;
    border-bottom:1px solid #ddd
}

.prgList li:last-child {
    border-bottom:none;
}

.prgList li:hover {
    background-color:#3A3E4C;
}

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after {
    content:"";
    display:table;
    clear:both
}

.w3-container,.w3-panel {
    padding:0.01em 16px;
}

.titlePortion {
    padding: 50px;
    text-align: center;
}

li a:link {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

a:link {
    color: #212529;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.collapsible {
    background-color: #3A3E4C;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #1A1A19;
    text-align: left;
    outline: none;
    font-size: 25px;
    font-weight: bold;
}

.collapsible:hover {
    background-color: #1A1A19   ;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #CACBD1;
}